.psty{
  font-size: 18px;
  text-align: justify;
}

/* NAVBAR */
.navbarsty{
  background-color: none;
  z-index: 2;
}
.navtextsty{
  color: #01FFA5;
  text-decoration: none;
  transition: 0.3s;
}
.navtextsty:hover{
  color: #4E07E3;
  transition: 0.3s;
}
@media only screen and (max-width: 992px){
  .navbarsty{
    background-color: #4E07E3;
  }
  .navtextsty{
    color: #4E07E3;
    text-align: center;
  }
}

/* CAROUSEL */
.carouselImgSty{
  width: 100%;
  height: 100vh;
}
@media only screen and (max-width: 992px){
  .carouselImgSty{
    width: auto;
    /* height: 100%;  */
  }
}

/* CUERPO */

.btnsty{
  width: 50%;
}
.imgsty{
  width: 75%;
}
.textJustify{
  text-align: justify;
}
@media only screen and (max-width: 992px){
  .btnsty{
    width: 50%
  }
  .imgsty{
    width: 75%;
  }
}
@media only screen and (max-width: 600px){
  .btnsty{
    width: 100%
  }
  .imgsty{
    width: 100%;
  }
}

/* ASESORIAS */

.boxsty{
  height: auto;
}
@media only screen and (min-width: 992px){
  .boxsty{
    height: 100%;
  }
}
